/* Enter your custom styles here */
.sapUiBlockCellContent {
    width: 100%;
    padding: 1rem;
    overflow: hidden;
    box-sizing: border-box;
	background-color: #333333;
}

.sapUiBlockCellTitle {
    color: white;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 1rem;
    margin-top: 0rem;
}
